/* src/views/pages/blog-post/sections/ArticleBody.css */
.article-content {
  color: var(--bs-gray-700);
}
.article-content h2 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
}
.article-content p {
  line-height: 1.8;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
.article-content blockquote p {
  font-size: 1.25rem;
  font-style: italic;
}